@{
    ViewData["Title"] = "About Us";
}
<link href="~/css/about.css" rel="stylesheet" />
<div class="hero-wrap" style="background-image: url('@Url.Content("~/templateuser/images/bg_3.jpg")');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>About</span></p>
                    <h1 class="mb-4 bread">About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">About Us</span>
                <h2 class="mb-4">History of Hotel</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h4>History of Hotel</h4>
                <p>Duis at ante nec neque rhoncus pretium. Ut placerat euismod nibh industry's stand orci donec mollis, est non scelerisque blandit, velit nunc laoreet dol scrambled it to augue non elit aliquam in vehicula sem phasellu  consectetur adipiscing elit donec porttitor lectus at neque sollicitudin.</p>
                <p>Ut placerat euismod nibh industry's stand orci donec mollis, est non scelerisque blandit, velit nunc laoreet dol scrambled it to augue non elit aliquam in vehicula sem phasellu  consectetur adipiscing elit donec porttitor lectus at neque sollicitudin.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 ftco-animate">
                <img src="~/img/about/s.jpg" class="img-responsive gray" alt="" />
            </div>
            <div class="col-md-3 ftco-animate">
                <img src="~/img/about/ga1.jpg" class="img-responsive gray" alt="" />
            </div>
            <div class="col-md-3 ftco-animate">
                <img src="~/img/about/ga2.jpg" class="img-responsive gray" alt="" />
            </div>
            <div class="col-md-3 ftco-animate">
                <img src="~/img/about/ga7.jpg" class="img-responsive gray" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Welcome to Harbor Lights Hotel</span>
                <h2 class="mb-4">You'll Never Want To Leave</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
                <div style="cursor: pointer" class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-reception-bell"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a href="https://localhost:7183/FriendlyServiceCBS" style="color: #000">Friendly Service</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
                <div style="cursor: pointer" class="media block-6 services active py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-serving-dish"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a href="https://localhost:7183/GetBreakfasCBS" style="color: #000">Get Breakfast</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
                <div style="cursor: pointer" class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-car"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a href="https://localhost:7183/TransferServicesCBS" style="color: #000">Transfer Services</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
                <div style="cursor: pointer" class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-spa"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a href="https://localhost:7183/SPACBS" style="color: #000">Suits &amp; SPA</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
                <div style="cursor: pointer;" class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-bed"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h3 class="heading mb-3"><a href="https://localhost:7183/CozyRoomsCBS" style="color: #000">Cozy Rooms</a></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Instagram</span>
                <h2 class="mb-4">Our Instagram Feed</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 ftco-animate">
                <img src="~/templateuser/images/insta-1.jpg" class="img-responsive gray" alt="Instagram Image 1" />
            </div>
            <div class="col-md-3 ftco-animate">
                <img src="~/templateuser/images/insta-2.jpg" class="img-responsive gray" alt="Instagram Image 2" />
            </div>
            <div class="col-md-3 ftco-animate">
                <img src="~/templateuser/images/insta-3.jpg" class="img-responsive gray" alt="Instagram Image 3" />
            </div>
            <div class="col-md-3 ftco-animate">
                <img src="~/templateuser/images/insta-5.jpg" class="img-responsive gray" alt="Instagram Image 5" />
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Our Team</span>
                <h2 class="mb-4">Meet Our Team</h2>
            </div>
        </div>
        <div class="row row-cols-md-4">
            <!-- Thay đổi ở đây -->
            <div class="col-md-3 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url('@Url.Content("~/templateuser/images/staff-1.jpg")');"></div>
                    <div class="info text-center">
                        <h3>THIỀU QUANG THẮNG</h3>
                        <p>Job Title</p>
                        <p><a href="tel:555-555-5555">Phone: 555-555-4444</a></p>  <p><a href="mailto:member1@example.com">Email: thang@gamil.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url('@Url.Content("~/templateuser/images/staff-2.jpg")');"></div>
                    <div class="info text-center">
                        <h3>NGUYỄN DUY THANH</h3>
                        <p>Job Title</p>
                        <p><a href="tel:555-111-2222">Phone: 555-111-5555</a></p>  <p><a href="mailto:member2@example.com">Email: thanh@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url('@Url.Content("~/templateuser/images/staff-3.jpg")');"></div>
                    <div class="info text-center">
                        <h3>NGUYỄN HỮU TRIN</h3>
                        <p>Job Title</p>
                        <p><a href="tel:555-111-5555">Phone: 555-555-1111</a></p>  <p><a href="mailto:member3@example.com">Email: trin@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url('@Url.Content("~/templateuser/images/ga8.png")');"></div>
                    <div class="info text-center">
                        <h3>PHẠM MINH QUANG</h3>
                        <p>Job Title</p>
                        <p><a href="tel:555-222-4444">Phone: 555-333-2222</a></p>  <p><a href="mailto:member3@example.com">Email: quang@example.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
