@model BookingHotel.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />

<div class="hero">
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(templateuser/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-6 ftco-animate">
                        <div class="text">
                            <h2>More than a hotel... an experience</h2>
                            <h1 class="mb-3">Hotel for the whole family, all year round.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(templateuser/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-6 ftco-animate">
                        <div class="text">
                            <h2>Harbor Lights Hotel &amp; Resort</h2>
                            <h1 class="mb-3">It feels like staying in your own home.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="ftco-booking ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-lg-8">
                <form asp-action="Booking" method="post" class="booking-form aside-stretch">
                    <div class="form-logo">
                        <h1>Book</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex py-md-4">
                            <div class="form-group align-self-stretch d-flex align-items-end">
                                <div class="wrap align-self-stretch py-3 px-4">
                                    <label asp-for="Request.dateCheckIn"></label>
                                    <input asp-for="Request.dateCheckIn" id="checkin_date" class="form-control form-control-lg" id="checkin_date" name="dateCheckIn" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex py-md-4">
                            <div class="form-group align-self-stretch d-flex align-items-end">
                                <div class="wrap align-self-stretch py-3 px-4">
                                    <label asp-for="Request.dateCheckOut"></label>
                                    <input asp-for="Request.dateCheckOut" id="checkout_date" class="form-control form-control-lg" id="checkout_date" name="dateCheckOut" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex py-md-4">
                            <div class="form-group align-self-stretch d-flex align-items-end">
                                <div class="wrap align-self-stretch py-3 px-4">
                                    <label for="room_type">Room</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select asp-for="Request.RoomType" id="room_type" name="roomTypeID" class="form-control form-control-lg" required onchange="updateGuestCount()">
                                                <option value="">Room Type</option>
                                                @foreach (var item in Model.RoomTypeViewModels)
                                                {
                                                    if (item.RoomLeft > 0)
                                                    {
                                                        <option value="@item.Value" data-max-people="@item.MaxPeople">@item.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Value" data-max-people="@item.MaxPeople" disabled>@item.Text (No available rooms)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex py-md-4">
                            <div class="form-group align-self-stretch d-flex align-items-end">
                                <div class="wrap align-self-stretch py-3 px-4">
                                    <label asp-for="Request.guestCount"></label>
                                    <input asp-for="Request.guestCount" id="guest_count" name="guestCount" class="form-control form-control-lg" readonly required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 d-flex py-md-4">
                            <div class="form-group align-self-stretch d-flex align-items-end">
                                <div class="wrap align-self-stretch py-3 px-4">
                                    <label asp-for="Request.message">Message</label>
                                    <textarea asp-for="Request.message" id="message" name="message" class="form-control form-control-lg" rows="3" placeholder="Write your message here..."></textarea>
                                </div>
                            </div>
                        </div>                       
                        <div class="col-md-8">
                            <div class="form-group d-flex align-self-stretch">
                                <button type="submit" id="btn" class="btn btn-primary py-5 py-md-3 px-5 align-self-stretch d-block">
                                    <span>Book Now</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                            @if (TempData["ErrorMesssage"] != null)
                            {
                                <text>
                                        toastr.error('@TempData["ErrorMesssage"]');
                                </text>
                            }

                            @if (TempData["SuccessMessage"] != null)
                            {
                                <text>
                                        toastr.success('@TempData["SuccessMessage"]');
                                </text>
                            }
                             });
                            function updateGuestCount() {
                                var roomTypeSelect = document.getElementById("room_type");
                                var selectedOption = roomTypeSelect.options[roomTypeSelect.selectedIndex];
                                var maxPeople = selectedOption.getAttribute("data-max-people");

                                var guestCountInput = document.getElementById("guest_count");
                                guestCountInput.value = maxPeople;

                            }
                        </script>
                    }
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Welcome to Harbor Lights Hotel</span>
                    <h2 class="mb-4">You'll Never Want To Leave</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div  class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
                    <div style="cursor: pointer" class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-reception-bell"></span>
                            </div>
                        </div>
                        <div class="media-body">
                        <h3 class="heading mb-3"><a href="FriendlyServiceCBS" style="color: #000">Friendly Service</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
                    <div style="cursor: pointer" class="media block-6 services active py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-serving-dish"></span>
                            </div>
                        </div>
                        <div class="media-body">
                        <h3 class="heading mb-3"><a href="GetBreakfasCBS" style="color: #000">Get Breakfast</a></h3>
                    </div>
                    </div>
                </div>
                <div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
                    <div style="cursor: pointer" class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-car"></span>
                            </div>
                        </div>
                        <div class="media-body">
                        <h3 class="heading mb-3"><a href="TransferServicesCBS" style="color: #000">Transfer Services</a></h3>
                    </div>
                    </div>
                </div>
                <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
                    <div style="cursor: pointer" class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-spa"></span>
                            </div>
                        </div>
                        <div class="media-body">
                        <h3 class="heading mb-3"><a href="SPACBS" style="color: #000">Suits &amp; SPA</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
                    <div style="cursor: pointer;" class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="ion-ios-bed"></span>
                            </div>
                        </div>
                        <div class="media-body">
                        <h3 class="heading mb-3"><a href="CozyRoomsCBS" style="color: #000">Cozy Rooms</a></h3>
                        
                    </div>
                    </div>
                </div>
            </div>
            </div>
       
    </section>

    <section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-7 order-md-last d-flex">
                    <div class="img img-1 mr-md-2 ftco-animate" style="background-image: url(templateuser/images/about-1.jpg);"></div>
                    <div class="img img-2 ml-md-2 ftco-animate" style="background-image: url(templateuser/images/about-2.jpg);"></div>
                </div>
                <div class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4">
                    <div class="heading-section mb-4 my-5 my-md-0">
                        <span class="subheading">About Harbor Lights Hotel</span>
                        <h2 class="mb-4">Harbor Lights Hotel the Most Recommended Hotel All Over the World</h2>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p><a href="#" class="btn btn-secondary rounded">Reserve Your Room Now</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="testimony-section">
        <div class="container">
            <div class="row no-gutters ftco-animate justify-content-center">
                <div class="col-md-5 d-flex">
                    <div class="testimony-img aside-stretch-2" style="background-image: url(templateuser/images/testimony-img.jpg);"></div>
                </div>
                <div class="col-md-7 py-5 pl-md-5">
                    <div class="py-md-5">
                        <div class="heading-section ftco-animate mb-4">
                            <span class="subheading">Testimony</span>
                            <h2 class="mb-0">Happy Customer</h2>
                        </div>
                        <div class="carousel-testimony owl-carousel ftco-animate">
                            <div class="item">
                                <div class="testimony-wrap pb-4">
                                    <div class="text">
                                        <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="user-img" style="background-image: url(templateuser/images/person_1.jpg)">
                                        </div>
                                        <div class="pos ml-3">
                                            <p class="name">Gerald Hodson</p>
                                            <span class="position">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap pb-4">
                                    <div class="text">
                                        <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="user-img" style="background-image: url(templateuser/images/person_2.jpg)">
                                        </div>
                                        <div class="pos ml-3">
                                            <p class="name">Gerald Hodson</p>
                                            <span class="position">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap pb-4">
                                    <div class="text">
                                        <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="user-img" style="background-image: url(templateuser/images/person_3.jpg)">
                                        </div>
                                        <div class="pos ml-3">
                                            <p class="name">Gerald Hodson</p>
                                            <span class="position">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap pb-4">
                                    <div class="text">
                                        <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="user-img" style="background-image: url(templateuser/images/person_4.jpg)">
                                        </div>
                                        <div class="pos ml-3">
                                            <p class="name">Gerald Hodson</p>
                                            <span class="position">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-room">
        <div class="container-fluid px-0">
            <div class="row no-gutters justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">Harbor Lights Rooms</span>
                    <h2 class="mb-4">Hotel Master's Rooms</h2>
                </div>
            </div>
            <div class="row no-gutters">
            @foreach (var item in Model.RoomTypes)
            {
                <div class="col-lg-6">
                    <div class="room-wrap d-md-flex ftco-animate">
                        <a href="#" class="img" style="background-image: url('@Html.DisplayFor(modelItem => item.RoomTypeDetail.Images.First().imagePath)');"></a>
                        <div class="half left-arrow d-flex align-items-center">
                            <div class="text p-4 text-center">
                                <p class="mb-0"><span class="price mr-1">$@Html.DisplayFor(modelItem => item.price)</span> <span class="per">per night</span></p>
                                <h3 class="mb-3"><a asp-controller="Home" asp-action="RoomDetail" asp-route-id="@item.roomTypeID">@Html.DisplayFor(modelItem => item.roomTypeName)</a></h3>
                                <p class="pt-1"><a asp-controller="Home" asp-action="RoomDetail" asp-route-id="@item.roomTypeID" class="btn-custom px-3 py-2 rounded">View Details <span class="icon-long-arrow-right"></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>
<section class="ftco-section ftco-menu bg-light">
    <div class="container-fluid px-md-4">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Restaurant</span>
                <h2>Restaurant</h2>
            </div>
        </div>
        <div class="row">
            @if (Model.Menus != null && Model.Menus.Any())
            {
                foreach (var item in Model.Menus)
                {
                    <div class="col-lg-6 col-xl-4 d-flex">
                        <div class="pricing-entry rounded d-flex ftco-animate">
                            <div class="img" style="background-image: url('@Url.Content(item.dishImage)');"></div>
                            <div class="desc p-4">
                                <div class="d-md-flex text align-items-start">
                                    <h3><span>@item.dishName</span></h3>
                                    <span class="price">$@item.dishPrice</span>
                                </div>
                                <div class="d-block">
                                    <p>@item.dishDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center">
                    <p>No data available.</p>
                </div>
            }
        </div>
        <div class="col-md-12 text-center ftco-animate">
            <p><a asp-controller="Home" asp-action="Restaurant" class="btn btn-primary rounded">View All Menu</a></p>
        </div>
    </div>
</section>